@using Afilhado4Patas.Views.Emails.ConfirmAccount
@using Afilhado4Patas.Views.Emails
@model ConfirmAccountEmailViewModel

@{
    ViewData["EmailTitle"] = "Bem Vindo!";
}

<p>
    Caro @Model.Nome,
</p>
<p>
    Estamos animados por começar connosco. Primeiro, confirme a sua conta clicando no botão abaixo.
</p>
@await Html.PartialAsync("/Views/Emails/EmailButton.cshtml", new EmailButtonViewModel("Confirmar Conta", Model.ConfirmEmailUrl))
<br />
<p>
    Equipa de Suporte Afilhados4Patas
</p>
