@using Afilhado4Patas.Views.Emails.ConfirmAccount
@using Afilhado4Patas.Views.Shared
@model ConfirmAccountEmailViewModel

@{
    ViewData["EmailTitle"] = "Bem Vindo!";
}

<p>
    Estamos animados por começar connosco. Primeiro, irá precisar de confirmar a sua conta. Basta clicar no botão abaixo.
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Confirm Account", Model.ConfirmEmailUrl))

<br />

<p>
    Equipa de Suporte Afilhados4Patas
</p>
