<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styleEmail.css" />
</head>
<body>    
    <table>
        <tr>
            <td id="td1">
                <table>
                    <tr>
                        <td id="td2">
                            <a>
                                <img id="img1">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td id="td3">
                <table>
                    <tr>
                        <td id="td4">
                            <h1 id="h1">@ViewData["EmailTitle"]</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td id="td5">
                <table>
                    <tr>
                        <td id="td6">                            
                            @RenderBody()
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td id="td7">
                <table>    
                    <tr>
                        <td id="td8">
                            <br />
                            <p>Se tiver alguma questão, envie um email para afilhados4patas@gmail.com</p>
                            <p>Estaremos felizes em poder ajudá-lo</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
