@using Afilhado4Patas.Views.Emails
@model EmailButtonViewModel

<table>
    <tr>
        <td id="td9">
            <table>
                <tr>
                    <td id="td10">
                        <a href=@Model.Url>
                            Confirmar
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
