@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div id="page">
    <div id="centrado">
        <img id="sucesso" src="~/images/sucesso.png" />
        <p>
            Email Confirmado com sucesso!
        </p>
        <p>
            A partir de agora já poderá iniciar sessão na nossa plataforma.
        </p>
    </div>
</div>
