@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<br />
<br />
<br />
<br />
<h2>@ViewData["Title"]</h2>
<div class="row">
    <p>
        Obrigado por confirmar o seu email.
        Proceda com o inicio de sessao.
    </p>
</div>
