@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<br />
<br />
<br />
<br />
<h2>@ViewData["Title"]</h2>
<div class="row">
    <p>
        Thank you for confirming your email.
    </p>
</div>
