@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu-se da sua Palavra-Passe";
}

<div id="page">
    <div id="box">
        <img id="icon_centrado" src="~/images/password.png" />
        <h4 style="text-align: center !important">Esqueceu-se da sua Palavra-Passe?</h4>
        <br />
        <h4>Insira o seu email.</h4>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira um Email válido
Com o seguinte formato: exemplo@exemplo.com "></span>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <p style="color:red; display:@Model.display;">O email inserido não corresponde a uma conta existente ou a mesma ainda não foi confirmada</p>
            <button type="submit" class="btn btn-default">Confirmar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
