@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<br />
<br />
<br />
<br />
<h2>Alteração de Palavra-Passe</h2>
<p>
    Por favor verifique o seu email para completar o processo de alteração da sua palavra-passe.
</p>

