@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div id="page">
    <div id="centrado">
        <img id="icon_centrado" src="~/images/password.png" />
        <h2>Alteração de Palavra-Passe</h2>
        <p>
            Por favor verifique o seu email para completar o processo de alteração da sua palavra-passe.
        </p>
    </div>
</div>


