@page
@model LockoutModel

<br />
<br />
<br />
<br />
<header>
    <h1 class="text-danger">Inicio de Sessao Falhado</h1>
    <p class="text-danger">Esta conta encontra-se bloqueada. Tente novamente com outra conta!</p>
    <a asp-area="Identity" asp-page="/Account/Login">Tentar login novamente</a>
</header>
