@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <h2>@ViewData["Title"]</h2>
    <div class="col-md-4">
        <section>
            <form method="post">
                <hr />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>  <span data-placement="right" class="glyphicon glyphicon-question-sign" 
                                                               title="Insira um Email válido 
Com o seguinte formato: 
exemplo@exemplo.com "></span>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>  <span data-placement="right" class="glyphicon glyphicon-question-sign" 
                                                                  title="Inserir uma password válida 
A password deverá conter pelo menos um caracter dos seguintes e ter um comprimento de 8 caracteres: 
Letras: Aa-Zz 
Numeros: 0-9 "></span>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <label id="erro_conta_bloqueada" style="color:red; display:@Model.display;">
                        Esta conta não se encontra disponivel, tente com outra diferente.
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Inicie Sessão</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Esqueceu-se da sua password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registe-se como novo utilizador</a>
                    </p>
                </div>
            </form>
        </section>
    </div>    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
