@page
@model Afilhado4Patas.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div id="page">
    <div id="box">
        <h2>Registo</h2>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crie a sua nova conta.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Nome"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira o seu Nome"></span>
                <input asp-for="Input.Nome" class="form-control" />
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Apelido"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira o(s) seu(s) Apelido(s)"></span>
                <input asp-for="Input.Apelido" class="form-control" />
                <span asp-validation-for="Input.Apelido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Genero"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o seu genero"></span>
                <div>
                    Masculino
                    <input asp-for="Input.Genero" type="radio" value="Masculino" />
                    Feminino
                    <input asp-for="Input.Genero" type="radio" value="Feminino" />
                </div>
                <span asp-validation-for="Input.Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DataNascimento"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Inserir data de nascimento no formato DD-MM-AAAA
Deverá ainda ter uma idade maior de 18 anos."></span>
                <div class="input-group date" id="datepicker_registo">
                    <input asp-for="Input.DataNascimento" type="text" class="form-control" />
                    <span class="input-group-addon hand">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="Input.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira um Email válido
Com o seguinte formato: exemplo@exemplo.com "></span>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Inserir uma palavra-passe válida
A password deverá conter pelo menos um caracter dos seguintes e ter um comprimento minimo de 8 caracteres:
Letras: Aa-Zz
Numeros: 0-9"></span>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Confirme a sua palavra-passe"></span>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Registar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/bootstrap-datepicker.pt-BR.js"></script>
<script>
    $('#datepicker_registo').datepicker({
        format: "dd/MM/yyyy",
        startDate: new Date(1900, 1, 1),
        endDate: '+1d',
        datesDisabled: '+1d',
        todayHighlight: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        autoclose: true,
        language: 'pt-BR'
    });
</script>
