@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Palavra-Passe alterada com sucesso!";
}
<div id="page">
    <div id="centrado">
        <img id="sucesso" src="~/images/sucesso.png" />
        <p>
            A sua palavra-passe foi alterada com sucesso.
        </p>
    </div>
</div>
