@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Palavra-Passe alterada com sucesso!";
}
<br />
<br />
<br />
<br />
<br />
<h2>@ViewData["Title"]</h2>
<p>
    A sua palavra-passe foi alterada. Por favor <a asp-page="./Login">clique aqui para iniciar sessão</a>.
</p>
