@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data
@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Afilhado4Patas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Galeria de Fotos -->
    <link href="~/css/jcarousel.connected-carousels.css" rel="stylesheet" />
    <script src="~/js/jcarousel.connected-carousels.js"></script>
    <script src="~/js/jquery.jcarousel.min.js"></script>
    <!--<script src="~/js/jquery.js"></script>-->
    <!-- Calendario -->
    <link rel='stylesheet' href='~/fullcalendar/fullcalendar.css' />
    <script type="text/javascript" src='~/fullcalendar/lib/moment.min.js'></script>
    <script type="text/javascript" src='~/fullcalendar/lib/jquery.min.js'></script>
    <script type="text/javascript" src='~/fullcalendar/fullcalendar.js'></script>

    <!-- DropDown -->
    <script type="text/javascript" src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js"></script>

</head>
<body>
    @if (User.IsInRole("Responsavel"))
    {
        <a asp-controller="Responsavel" asp-action="Index" style="text-decoration: none"><img id="logo" src="~/images/logo.png" /></a>
    }
    else if (User.IsInRole("Funcionario"))
    {
        <a asp-controller="Funcionario" asp-action="Index" style="text-decoration: none"><img id="logo" src="~/images/logo.png" /></a>
    }
    else if (User.IsInRole("Utilizador"))
    {
        <a asp-controller="Utilizador" asp-action="Index" style="text-decoration: none"><img id="logo" src="~/images/logo.png" /></a>
    }
    else
    {
        <a asp-controller="Guest" asp-action="Index" style="text-decoration: none"><img id="logo" src="~/images/logo.png" /></a>
    }
    <nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
        <div id="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navegador" class="navbar-collapse collapse">
                <ul class="menu clearfix float-left">
                    @if (User.IsInRole("Responsavel"))
                    {
                        <li><a asp-area="" asp-controller="Responsavel" asp-action="Index">Inicio</a></li>
                        <li><a asp-area="" asp-controller="Responsavel" asp-action="About">Sobre nós</a></li>
                        <li><a asp-area="" asp-controller="Responsavel" asp-action="Adotar">Adoções</a></li>
                        <li><a asp-area="" asp-controller="Responsavel" asp-action="Doar">Doar</a></li>
                        <li>
                            <a>Animais</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Responsavel" asp-action="Animais">Os nossos Animais</a></li>
                                <li><a asp-area="" asp-controller="Responsavel" asp-action="RegistoAnimal">Registo Animal</a></li>
                                <li><a asp-area="" asp-controller="Responsavel" asp-action="ListaAnimais">Lista Animais (Detalhada)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Adoçoes</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Responsavel">Pedidos de Adoção Total</a></li>
                                <li><a asp-controller="Responsavel">Pedidos de Apadrinhamento</a></li>
                                <li><a asp-controller="Responsavel">Pedidos X dias</a></li>
                                <li><a asp-controller="Responsavel">Pedidos de Passeios</a></li>
                                <li><a asp-controller="Responsavel">Convocar Reunião (Controlo Animal)</a></li>
                                <li><a asp-controller="Responsavel">Pedidos Rejeitados</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Funcionarios</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Responsavel" asp-action="ListaFuncionarios">Lista de Funcionarios</a></li>
                                <li><a asp-controller="Responsavel" asp-action="AdicionarFuncionario">Adicionar Funcionario</a></li>
                                <li><a asp-controller="Responsavel" asp-action="ListaTarefas">Lista de Tarefas</a></li>
                                <li><a asp-controller="Responsavel" asp-action="AdicionarTarefa">Adicionar Tarefa</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Responsavel" asp-action="Contact">Contactos</a></li>


                        <li><a asp-area="" asp-controller="Responsavel" asp-action="CalendarioUtilizador">Calendario</a></li>
                    }
                    else if (User.IsInRole("Funcionario"))
                    {
                        <li><a asp-area="" asp-controller="Funcionario" asp-action="Index">Inicio</a></li>
                        <li><a asp-area="" asp-controller="Funcionario" asp-action="About">Sobre nós</a></li>
                        <li><a asp-area="" asp-controller="Funcionario" asp-action="Adotar">Adoções</a></li>
                        <li><a asp-area="" asp-controller="Funcionario" asp-action="Doar">Doar</a></li>
                        <li>
                            <a asp-controller="Funcionario" asp-action="Animais">Animais</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Funcionario" asp-action="Animais">Os nossos Animais</a></li>
                                <li><a asp-area="" asp-controller="Funcionario" asp-action="RegistoAnimal">Registo Animal</a></li>
                                <li><a asp-area="" asp-controller="Funcionario" asp-action="ListaAnimais">Lista Animais (Detalhada)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Adoçoes</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Funcionario">Pedidos de Adoção Total</a></li>
                                <li><a asp-controller="Funcionario">Pedidos de Apadrinhamento</a></li>
                                <li><a asp-controller="Funcionario">Pedidos X dias</a></li>
                                <li><a asp-controller="Funcionario">Pedidos de Passeios</a></li>
                                <li><a asp-controller="Funcionario">Convocar Reunião (Controlo Animal)</a></li>
                                <li><a asp-controller="Funcionario">Pedidos Rejeitados</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Funcionarios</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Funcionario" asp-action="MinhasTarefas" asp-route-id="@UserManager.GetUserName(User)">Minhas Tarefas</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Funcionario" asp-action="Contact">Contactos</a></li>

                    }
                    else if (User.IsInRole("Utilizador"))
                    {
                        <li><a asp-area="" asp-controller="Utilizador" asp-action="Index">Inicio</a></li>
                        <li><a asp-area="" asp-controller="Utilizador" asp-action="About">Sobre nós</a></li>
                        <li><a asp-area="" asp-controller="Utilizador" asp-action="Adotar">Adoções</a></li>
                        <li><a asp-area="" asp-controller="Utilizador" asp-action="Doar">Doar</a></li>
                        <li>
                            <a>Animais</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Utilizador" asp-action="Animais">Os nossos Animais</a></li>
                                <li><a>Os meus animais</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Adoçoes</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Utilizador" asp-action="PedidoAdocao">Realizar Pedido de Adoção</a></li>
                                <li><a asp-controller="Utilizador">Realizar Pedido de Apadrinhamento</a></li>
                                <li><a asp-controller="Utilizador">Marcacao X dias</a></li>
                                <li><a asp-controller="Utilizador">Marcacao de Passeios</a></li>
                                <li><a asp-controller="Utilizador">Os meus pedidos de Adoções</a></li>
                                <li><a asp-controller="Utilizador">As minhas Marcações</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Utilizador" asp-action="Contact">Contactos</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Guest" asp-action="Index">Inicio</a></li>
                        <li><a asp-area="" asp-controller="Guest" asp-action="About">Sobre nós</a></li>
                        <li><a asp-area="" asp-controller="Guest" asp-action="Adotar">Adoções</a></li>
                        <li><a asp-area="" asp-controller="Guest" asp-action="Doar">Doar</a></li>
                        <li>
                            <a>Animais</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Guest" asp-action="Animais">Os nossos Animais</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Guest" asp-action="Contact">Contactos</a></li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>


    <partial name="_CookieConsentPartial" />

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Afilhado4Patas</p>
        </footer>
    </div>




    <!--<script src="~/lib/jquery/dist/jquery.js"></script>-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!--<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>-->
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        var nowDate = new Date();
        var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
        $(function () {
            $('#datepicker_registo').datepicker({
                format: "dd/MM/yyyy",
                startDate: new Date(1900, 1, 1),
                endDate: '+1d',
                datesDisabled: '+1d',
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
            $('#datepicker_tarefas1').datepicker({
                format: "dd/MM/yyyy",
                startDate: today,
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button",
            });
            $('#datepicker_tarefas2').datepicker({
                format: "dd/MM/yyyy",
                startDate: today,
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
            $('#datepicker_animal').datepicker({
                format: "dd/MM/yyyy",
                startDate: new Date(1990, 1, 1),
                endDate: '+1d',
                datesDisabled: '+1d',
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
