<div id="seccao_foto_paginaAdotar" class="item active">
    <div id="seccao_adotar">
        <h1 id="pagina_titulo"> Adote Connosco </h1>
        <div id="caixa_texto">
            <p id="p">
                <!--Conheça abaixo os nossos métodos de adoções e também apadrinhamento aos nossos animais-->
                Informe-se em baixo sobre os nossos métodos de adoção e apadrinhamento de animais
            </p>
        </div>
    </div>
</div>
<div id="seccao1">
    <div id="espaco">
        <div id="imagem_titulo">
            <img id="icon_paw" src="~/images/paw white.png" />
            <p id="subtitulo1">Adoção a Tempo Inteiro</p>
        </div>
        <div id="conteudo">
            <p id="paragrafo_white">
                Ganhe um novo membro para a sua família. Vai poder levá-lo para o seu lar, receber o amor que ele tem
                para lhe dar, mas também ser responsável pelo seu sustento e bem estar.
            </p>
            @if (User.IsInRole("Responsavel"))
            {
                <a class="efeito efeito_botao" id="button_white" title="Ver animais" asp-controller="Responsavel" asp-action="Animais">Ver animais</a>
            }
            else if (User.IsInRole("Funcionario"))
            {
                <a class="efeito efeito_botao" id="button_white" title="Ver animais" asp-controller="Funcionario" asp-action="Animais">Ver animais</a>

            }
            else if (User.IsInRole("Utilizador"))
            {
                <a class="efeito efeito_botao" id="button_white" title="Ver animais" asp-controller="Utilizador" asp-action="Animais">Ver animais</a>
            }
            else
            {
                <a class="efeito efeito_botao" id="button_white" title="Ver animais" asp-controller="Guest" asp-action="Animais">Ver animais</a>
            }
        </div>
    </div>
    <img id="imagem_bottom_right_1" src="~/images/foto1.png" />
</div>
<div id="seccao2">
    <div id="espaco">
        <div id="imagem_titulo">
            <img id="icon_paw" src="~/images/paw color.png" />
            <p id="subtitulo2">Adoção Parcial / Apadrinhamento</p>
        </div>
        <div id="conteudo">
            <p id="paragrafo_color">
                Se não pode tê-lo consigo em casa <b>Apadrinhe-o</b>. Poderá visitá-lo, levá-lo consigo em dias
                determinados e proporcionar-lhe outras regalias mediante aprovação da Associação onde ele se encontra.
            </p>
            <p id="paragrafo_color">
                A grande oportunidade é poder tomar conta do seu animal favorito em certos dias, mesmo não podendo
                tê-lo sempre consigo e desta maneira desfrutar do amor dele e ele do seu.
            </p>
            @if (User.IsInRole("Responsavel"))
            {
                <a class="efeito efeito_botao" id="button_red" title="Ver animais" asp-controller="Responsavel" asp-action="Animais">Ver animais</a>
            }
            else if (User.IsInRole("Funcionario"))
            {
                <a class="efeito efeito_botao" id="button_red" title="Ver animais" asp-controller="Funcionario" asp-action="Animais">Ver animais</a>

            }
            else if (User.IsInRole("Utilizador"))
            {
                <a class="efeito efeito_botao" id="button_red" title="Ver animais" asp-controller="Utilizador" asp-action="Animais">Ver animais</a>
            }
            else
            {
                <a class="efeito efeito_botao" id="button_red" title="Ver animais" asp-controller="Guest" asp-action="Animais">Ver animais</a>
            }
        </div>
    </div>
    <img id="imagem_bottom_right_2" src="~/images/foto2.png" />
</div>