@using Afilhado4Patas.Data

@inject ApplicationDbContext Context

<div id="top_image">
    <p id="titulo_animais">Os nossos animais</p>
</div>
<div id="pagina_pesquisa">
    <div id="container_left">
        @{
            List<Animal> lista_animais = Context.Animais.Where(a => a.Ativo == true).ToList();
            @Html.Partial("GridAnimais", lista_animais)
        }
    </div>
    <div id="container_right">
        <header id="filtros">
            <p id="p_filtros">
                Filtros
                <a id="limpar_filtros">Limpar Todos</a>
            </p>
        </header>
        <div>
            <ul>
                @{
                    List<Categoria> categorias = Context.Categorias.ToList();
                    //List<Raca> racas = Context.Racas.ToList();
                    List<Porte> portes = Context.Portes.ToList();

                    <li>
                        <h1>Categorias</h1>
                        @foreach (var categoria in categorias)
                        {
                            <div>
                                <input type="checkbox" value=@categoria.Id />
                                <span>@categoria.Nome</span>
                            </div>
                        }
                    </li>
                    /*<li>
                        <h1>Raças</h1>
                        @foreach (var raca in racas)
                        {
                            <div>
                                <input type="checkbox" value=@raca.Id />
                                <span>@raca.NomeRaca</span>
                            </div>
                        }
                    </li>*/
                    <li>
                        <h1>Portes</h1>
                        @foreach (var porte in portes)
                        {
                            <div>
                                <input type="checkbox" value=@porte.Id />
                                <span>@porte.TipoPorte</span>
                            </div>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
