@using Afilhado4Patas.Data

@inject ApplicationDbContext Context

<div id="top_image">
    <p id="titulo_animais">Os nossos animais</p>
</div>
<div id="pagina_pesquisa">
    <div id="container_left">
        @{
            List<Animal> lista_animais = Context.Animais.Where(a => a.Ativo == true).ToList();
            foreach (var animal in lista_animais)
            {
                animal.PorteAnimal = Context.Portes.Where(p => p.Id == animal.PorteId).FirstOrDefault();
            }
            @Html.Partial("GridAnimais", lista_animais)
        }
    </div>
    <div id="container_right">
        <header id="filtros">
            <p id="p_filtros">
                Filtros
                <a id="limpar_filtros">Limpar Todos</a>
            </p>
        </header>
        <div>
            <ul>
                @{
                    List<Categoria> categorias = Context.Categorias.ToList();
                    <li>
                        <h1 style="color: darkslategrey; margin-bottom: 20px" >Categorias</h1>
                        @foreach (var categoria in categorias)
                        {
                            var id = "categoria" + categoria.Id;
                            <div style="margin-top: 10px">
                                <label class="pure-material-checkbox">
                                    <input type="checkbox" value=@categoria.Id id=@id onclick="PesquisarAnimais(@categorias.Count())"/>
                                    <span id="color_grey">@categoria.Nome</span>
                                </label>
                            </div>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script>
    function PesquisarAnimais(number) {
        alert(number);
        $('#container_left').html();
        var selecionados = [];
        for (var i = 1; i <= number; i++) {
            var id = "#categoria" + i;
            if ($(id).is(':checked')) {
                alert($(id).val());
                selecionados.push($(id).val());
            }
        }
        $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Guest/AnimaisPorFiltros")',
                data: {
                    items: selecionados
                },
                success: function (result) {
                    $('#container_left').html(result);
                }
            });
    }
</script>
