<div id="seccao_foto_paginaContactos" class="item active">
    <div id="seccao_sobre">
        <h1 id="pagina_titulo">- Contactos -</h1>
        <br />
        <p id="p">Em caso de dúvida não hesite em contactar a nossa equipa em </p>
        <div id="caixa_texto">
            <br />
            <a href="mailto:afilhados4patas@gmail.com">
                <img src="~/images/email.png" width="30px" height="30px" style="margin-right:5px;"/>afilhados4patas@gmail.com
            </a>
        </div>
    </div>
</div>
