@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div id="seccao_foto" class="item active">
            <img id="fotos_inicio" src="~/images/foto_1.jpg" alt="ASP.NET" class="img-responsive" />
            <div id="seccao" class="carousel-caption" role="option">
                <p id="titulos">Adote um animal.</p>
            </div>
        </div>
        <div id="seccao_foto" class="item">
            <img id="fotos_inicio" src="~/images/foto_2.jpg" alt="ASP.NET" class="img-responsive" />
            <div id="seccao" class="carousel-caption" role="option">
                <p id="titulos">Salve uma vida.</p>
            </div>
        </div>
        <div id="seccao_foto" class="item">
            <img id="fotos_inicio" src="~/images/foto_3.jpg" alt="ASP.NET" class="img-responsive" />
            <div id="seccao" class="carousel-caption" role="option">
                <p id="titulos">Ganhe um amigo.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

