@using Afilhado4Patas.Models.ViewModels
@model EmailViewModel

@{
    ViewData["EmailTitle"] = "Alterar Password!";
}

<p>
    Caro @Model.Nome,
</p>
<p>
    Para alterar a sua palavra-passe pedimos-lhe que clique no botão abaixo onde será direcionado para a página de alteração da sua palavra-passe.
</p>
@await Html.PartialAsync("/Views/Emails/EmailButton.cshtml", new EmailButtonViewModel("Alterar Palavra-Passe", Model.EmailUrl))
<br />
<p>
    Equipa de Suporte Afilhados4Patas
</p>
