.list-content {
    height: 300px !important;
    width: 430px !important;
}

.list-group {
    height: 100%;
    overflow-y: auto;
    background-color: #fff
}

    .list-content .list-group .title {
        background: #0081c2;
        font-weight: bold;
        color: #FFFFFF;
    }

.list-group-item img {
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 10px !important;
    display: inline !important;
}

.jumbotron .btn {
    padding: 5px 5px !important;
    font-size: 12px !important;
}

.jumbotron {
    padding: 0 !important;
}

.prj-name {
    color: #0081c2;
}

.break {
    width: 100%;
    margin: 20px;
}

.name {
    color: #0081c2;
    margin-top: 5px !important;
    float:left;
}

.list-group-item.text-left{
    height: 120px;
}
