@using Afilhado4Patas.Models.ViewModels
@model EmailTarefaViewModel

@{
    ViewData["EmailTitle"] = "Tarefa Editada!";
}

<p>
    Caro @Model.Nome,
</p>
<p>
    Foi-lhe editada uma tarefa que terá ficado com os seguintes dados,
</p>
<br />
<p>
    Data de Inicio: @Model.DataInicio
</p>
<p>
    Data de Fim: @Model.DataFim.Date
</p>
<br />
<br />
<p>
    Descrição: @Model.Descricao
</p>
<br />
<p>
    Equipa de Suporte Afilhados4Patas
</p>
