
@{
    ViewData["Title"] = "AdocaoRejeitada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page">
    <div id="centrado">
        <img id="sucesso" src="~/images/rejeitado.png" />
        <p>
            Pedido de adoção rejeitado com sucesso!
        </p>
    </div>
</div>