
@{
    ViewData["Title"] = "AdocaoAceite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page">
    <div id="centrado">
        <img id="sucesso" src="~/images/sucesso.png" />
        <p>
            Pedido de adoção aceite com sucesso!
        </p>
    </div>
</div>