@using Afilhado4Patas.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context

@model List<Afilhado4Patas.Models.Adocao>

@{
    ViewData["Title"] = "Convocar Reuniao";
}

<link href="~/css/Table/tabela.css" rel="stylesheet" />
<div id="rectangulo_medio"></div>
<div id="page" class="page_maior largura">
    <h3 class="centrado" style="color: #fff">Convocar Reuniao</h3>
    <br />
    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Qual o animal que procura ?">
            <button type="submit" class="searchButton" onclick="PesquisarAnimal()">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <br />
    <div id="container_center">
        @{
            @Html.Partial("GridAnimaisAdotados", Model)
        }
    </div>
</div>

<script>
    function PesquisarAnimal() {
        if ($('.searchTerm').val() === "") {
            alert("Insira algo no campo de pesquisa");
        } else {
            $('container_center').html();
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Funcionario/PesquisarAnimal")',
                data: {
                    pesquisa: $('.searchTerm').val() 
                },
                success: function (result) {
                    $('#container_center').html(result);
                }
            });
        }
    }    
</script>

