@model Afilhado4Patas.Models.ViewModels.AnimalImageUploadViewModel

@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context
@{
    ViewData["Title"] = "Editar Perfil Animal";
}

<div id="page">
    <div id="box">
        @{
            if (Model.animal.Foto != null)
            {
                string src = "/Animais/" + Model.animal.Id + "/" + Model.animal.Foto;
                <img id="icon_centrado_arredondado" src="@src" />
            }
            else
            {
                <img id="icon_centrado_arredondado" src="~/images/dog-profile.png" />
            }
        }
        <h4>Editar Foto de Perfil do Animal </h4>
        <hr />
        <form method="post" asp-action="EditarAnimalFotoPerfil" asp-controller="Funcionario" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira a imagem de perfil do animal.
Deverá ter o formato JPG, JPEG, PNG."></span>
                <input type="file" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Funcionario" asp-action="DetalhesAnimal" asp-route-id=@Model.animal.Id>Voltar Ficha do Animal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}