@model Afilhado4Patas.Models.ViewModels.AnimalImageUploadViewModel

@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context
@{
    ViewData["Title"] = "Editar Perfil Animal";
}
<link href="~/css/FileInput/fileInput.css" rel="stylesheet" />
<link href="~/css/FormularioCSS/formularios.css" rel="stylesheet" />

<div id="registo_page">
    <form id="login" method="post" asp-action="EditarAnimalFotoPerfil" asp-controller="Funcionario" enctype="multipart/form-data">
        <h1>Editar Foto de Perfil do Animal</h1>
        <div class="contentform">
            <div class="centercontact">
                @{
                    if (Model.animal.Foto != null)
                    {
                        string src = "/Animais/" + Model.animal.Id + "/" + Model.animal.Foto;
                        <img id="icon_centrado_arredondado" src="@src" />
                    }
                    else
                    {
                        <img id="icon_centrado_arredondado" src="~/images/dog-profile.png" />
                    }
                }
                <div class="form-group">
                    <div>
                        <label asp-for="File" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira a imagem de perfil do animal.
Deverá ter o formato JPG, JPEG, PNG."></span>
                    </div>
                    <div class="input-container">
                        <input type="file" id="real-input" asp-for="File">
                        <button class="browse-btn" type="button">
                            Escolher Ficheiro
                        </button>
                        <span class="file-info">Nenhum ficheiro inserido</span>
                    </div>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="bouton-contact">Alterar Dados</button>
    </form>
</div>

<div class="voltar">
    <a class="efeito efeito_botao_back" id="voltar"  asp-controller="Funcionario" asp-action="DetalhesAnimal" asp-route-id=@Model.animal.Id>Voltar</a>
</div>

<script>
    $('.browse-btn').bind('click', function () {
        $('#real-input').trigger('click');
    });

    $('#real-input').on('change', function () {
        var name = $('#real-input').val().split(/\\|\//).pop();
        var truncated = name.length > 20
            ? name.substr(name.length - 20)
            : name;

        $('.file-info').text(truncated);
    });
</script>