
@{
    ViewData["Title"] = "EstatisticasResponsavel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Afilhado4Patas.Models.Estatisticas

@model Afilhado4Patas.Models.Estatisticas.DataRetrive

<br/>
<br />
<br />
<br />

<link href="~/css/Estatisticas/Estatisticas.css" rel="stylesheet" />

<div id="principal">
    <h2>Estatisticas do Sistema</h2>
    <div id="stat1" class="stat">
        <div id="superior">Pie Chart 1</div>
        <div id="PieChart1"></div>
    </div>
    <div id="stat2" class="stat">
        <div id="superior">Pie Chart 2</div>
        <div id="PieChart2"></div>
    </div>
    <div id="stat3" class="stat">
        <div id="superior">Bar Chart 1</div>
        <div id="BarChart1"></div>
    </div>
    <div id="stat4" class="stat">
        <div id="superior">Bar Chart 2</div>
        <div id="BarChart2"></div>
    </div>
    <div id="stat5" class="stat">
        <div id="superior">Bar Chart 3</div>
        <div id="BarChart3"></div>
    </div>
    <div id="stat6" class="stat">
        <div id="superior">Bar Chart 4</div>
        <div id="BarChart4"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="~/js/Estatisticas.js"></script>

<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});

    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        $.ajax({
            type: "GET",
            url: "/Funcionario/PieAnimal",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Tipo Animal');
                dataG.addColumn('number', 'Quantidade');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    //console.log("Ieracao: " + i + " Titulo:" + aux[i].label + " Quantidade:" + aux[i].value);
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                }
                var optionsPie = {
                    'title': data.title,
                    'width':700,
                    'height': 500,
                    is3D: true
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.PieChart(document.getElementById('PieChart1'));
                
                chart1.draw(dataG, optionsPie);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
        
        $.ajax({
            type: "GET",
            url: "/Funcionario/PieMf",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Sexo Utilizador');
                dataG.addColumn('number', 'Quantidade');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    //console.log("Ieracao: " + i + " Titulo:" + aux[i].label + " Quantidade:" + aux[i].value);
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                }
                var optionsPie = {
                    'title': data.title,
                    'width':700,
                    'height': 500,
                    is3D: true
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.PieChart(document.getElementById('PieChart2'));
                
                chart1.draw(dataG, optionsPie);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

        $.ajax({
            type: "GET",
            url: "/Funcionario/adocoesPorMes",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Mes');
                dataG.addColumn('number', 'Adocoes');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    //console.log("Ieracao: " + i + " Titulo:" + aux[i].label + " Quantidade:" + aux[i].value);
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                    debugger;
                }
                var optionsBar = {
                    'title': data.title,
                    'width': 700,
                    'height': 250
                    //is3D: true
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.BarChart(document.getElementById('BarChart1'));

                chart1.draw(dataG, optionsBar);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

        $.ajax({
            type: "GET",
            url: "/Funcionario/apadrinhamentosPorMes",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Mes');
                dataG.addColumn('number', 'Apadrinhamentos');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    //console.log("Ieracao: " + i + " Titulo:" + aux[i].label + " Quantidade:" + aux[i].value);
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                }
                var optionsBar = {
                    'title': data.title,
                    'width': 700,
                    'height': 250
                    //is3D: true
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.BarChart(document.getElementById('BarChart2'));

                chart1.draw(dataG, optionsBar);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

        $.ajax({
            type: "GET",
            url: "/Funcionario/numeroPedidosPasseioPorMes",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Mes');
                dataG.addColumn('number', 'Passeios');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    //console.log("Ieracao: " + i + " Titulo:" + aux[i].label + " Quantidade:" + aux[i].value);
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                }
                var optionsBar = {
                    'title': data.title,
                    'width': 700,
                    'height': 250
                    //is3D: true
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.BarChart(document.getElementById('BarChart3'));

                chart1.draw(dataG, optionsBar);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

        $.ajax({
            type: "GET",
            url: "/Funcionario/numeroPedidosFdsPorMes",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Mes');
                dataG.addColumn('number', 'Fins de Semana');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    //console.log("Ieracao: " + i + " Titulo:" + aux[i].label + " Quantidade:" + aux[i].value);
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                }
                var optionsBar = {
                    'title': data.title,
                    'width': 700,
                    'height': 250
                    //is3D: true
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.BarChart(document.getElementById('BarChart4'));

                chart1.draw(dataG, optionsBar);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
        /*var optionsBar = {
            'title': data.title,
            'width': 600,
            'height': 400
        };
        var chart2 = new google.visualization.BarChart(document.getElementById('BarChart'));
        chart2.draw(dataG, optionsBar);*/

        

    }
</script>

