@model Afilhado4Patas.Models.ViewModels.PerfilEditarDadosPessoaisViewModel

@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@{
    ViewData["Title"] = "Editar Perfil";
}

<div id="page">
    <div id="box">
        <img id="icon_centrado" src="~/images/edit.png" />
        <h4>Editar Dados Pessoais </h4>
        <form asp-action="PerfilEditarDadosPessoais" asp-controller="Funcionario">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira o seu Nome"></span>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira o(s) seu(s) Apelido(s)"></span>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIF" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira o seu Numero de Identificação Fiscal no seguinte formato XXXXXXXXX"></span>
                <input asp-for="NIF" class="form-control" />
                <span asp-validation-for="NIF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Inserir data de nascimento no formato DD-MM-AAAA
                      Deverá ainda ter uma idade maior de 18 anos."></span>
                <div class="input-group date" id="datepicker_registo">
                    <input asp-for="Birthday" type="text" value="" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Funcionario" asp-action="Perfil" asp-route-id="@UserManager.GetUserName(User)">Voltar ao Perfil</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/bootstrap-datepicker.pt-BR.js"></script>
<script>
    $('#datepicker_registo').datepicker({
        format: "dd/mm/yyyy",
        startDate: new Date(1900, 1, 1),
        endDate: '+1d',
        datesDisabled: '+1d',
        todayHighlight: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        autoclose: true,
        language: 'pt-BR'
    });
</script>