@model Afilhado4Patas.Models.ViewModels.RegistarAnimalViewModel;

@{
    ViewData["Title"] = "RegistoAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        var items = "<option value='0'>Escolha primeiro uma categoria</option>";
        $('#RacaId').html(items);
        $('#CategoriaID').change(function () {
            var url = '@Url.Content("~/")' + "Funcionario/RacasPorCategoria";
            var id = '#CategoriaID';
            $.getJSON(url, { CategoriaID: $(id).val() }, function (data) {
                var items = '';
                $('#RacaId').empty();
                $.each(data, function (i, raca) {
                    items += "<option value='" + raca.value + "'>" + raca.text + "</option>";
                });
                $('#RacaId').html(items);
            });
        });
    });
</script>

<h2>RegistoAnimal</h2>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistarAnimal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeAnimal" class="control-label"></label>
                <input asp-for="NomeAnimal" class="form-control" />
                <span asp-validation-for="NomeAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNasc"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Inserir data de nascimento no formato DD-MM-AAAA
                      Deverá ainda ter uma idade maior ou igual 0 anos e inferior a 100."></span>
                <div class="input-group date" id="datepicker">
                    <input asp-for="DataNasc" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
                <div class="form-group">
                    <label asp-for="Porte" class="control-label"></label>
                    <input asp-for="Porte" class="form-control" />
                    <span asp-validation-for="Porte" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Peso" class="control-label"></label>
                    <input asp-for="Peso" class="form-control" />
                    <span asp-validation-for="Peso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select id="CategoriaID" name="CategoriaID" asp-for="CategoriaId" class="form-control" asp-items="@Model.Categorias">
                        <option>Selecione uma categoria</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="RacaId" class="control-label"></label>
                    <select id="RacaId" name="RacaId" asp-for="RacaId" class="form-control"
                            asp-items="@(new SelectList("","RacaId","NomeRaca"))"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registar Animal" class="btn btn-default" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

