@model Afilhado4Patas.Models.ViewModels.RegistarAnimalViewModel;
@using Afilhado4Patas.Data;

@inject ApplicationDbContext Context

@{
    ViewData["Title"] = "RegistoAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        var items = "<option value='undefined'>Escolha primeiro uma categoria</option>";
        $('#RacaId').html(items);
        $('#CategoriaID').change(function () {
            var url = '@Url.Content("~/")' + "Funcionario/RacasPorCategoria";
            var id = '#CategoriaID';
            $.getJSON(url, { CategoriaID: $(id).val() }, function (data) {
                var items = '';
                $('#RacaId').empty();
                $.each(data, function (i, raca) {
                    items += "<option value='" + raca.value + "'>" + raca.text + "</option>";
                });
                $('#RacaId').html(items);
            });
        });
    });
</script>
<link href="~/css/FormularioCSS/formularios.css" rel="stylesheet" />

<div id="registo_page">
    <form asp-controller="Funcionario" asp-action="RegistoAnimal">
        <h1>Registar Animal <img id="icon_miniatura" src="~/images/add_animal.png" /></h1>
        <div class="contentform">
            <div class="leftcontact">
                <div class="form-group">
                    <div>
                        <label asp-for="NomeAnimal" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira o nome do Animal apenas contendo letras"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-user"></i></span>
                    <input asp-for="NomeAnimal" class="form-control" />
                    <span asp-validation-for="NomeAnimal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Sexo"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione o sexo do Animal"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-mars"></i></span>
                    <select asp-for="Sexo">
                        <option value="Macho">Macho</option>
                        <option value="Femea">Femea</option>
                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="DataNasc"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Inserir data de nascimento no formato DD-MM-AAAA
Deverá ainda ter uma idade maior ou igual 0 anos e inferior a 30 anos."></span>
                    </div>
                    <div class="input-group date" id="datepicker_animal">
                        <span class="input-group-addon icon-case hand">
                            <i class="fa fa-calendar-alt"></i>
                        </span>
                        <input asp-for="DataNasc" type="text" value="" class="form-control" />
                    </div>
                    <span asp-validation-for="DataNasc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="PorteId"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione o porte do Animal"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-filter"></i></span>
                    <select id="PorteID" name="PorteID" asp-for="PorteId" class="form-control" asp-items="@Model.Portes">
                        <option>Selecione um porte</option>
                    </select>
                    <span asp-validation-for="PorteId" class="text-danger"></span>
                </div>
            </div>

            <div class="rightcontact">
                <div class="form-group">
                    <div>
                        <label asp-for="Descricao" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira uma descrição do animal apenas contendo letras"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-font"></i></span>
                    <textarea rows="3" asp-for="Descricao" class="form-control"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Peso" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira o peso do animal em Kg,
O peso deverá ser superior a 0.1 Kg e menor que 200 Kg"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-weight"></i></span>
                    <input asp-for="Peso" />
                    <span asp-validation-for="Peso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="CategoriaId"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione o categoria do Animal"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-filter"></i></span>
                    <select id="CategoriaID" name="CategoriaID" asp-for="CategoriaId" class="form-control" asp-items="@Model.Categorias">
                        <option>Selecione um porte</option>
                    </select>
                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="RacaId"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione a raça do Animal"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-paw"></i></span>
                    <select id="RacaId" name="RacaId" asp-for="RacaId" class="form-control"
                            asp-items="@(new SelectList("","RacaId","NomeRaca"))"></select>
                    <span asp-validation-for="RacaId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="bouton-contact">Registar Animal</button>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt.min.js"></script>
<script>
    var nowDate = new Date();
    var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
    var tomorrow = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate() + 1, 0, 0, 0, 0);
    $(document).ready(function () {
        $('#datepicker_animal').datepicker({
            format: "dd/mm/yyyy",
            startDate: new Date(1990, 1, 1),
            endDate: '+1d',
            datesDisabled: '+1d',
            autoclose: true,
            todayHighlight: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            orientation: "bottom left",
            weekStart: 1,
            language: 'pt'
        });
    });
</script>
