
@{
    ViewData["Title"] = "ConvocatoriaRegistada";
}

<div id="page">
    <div id="centrado">
        <img id="sucesso" src="~/images/sucesso.png" />
        <p>
            Convocatória registada com sucesso!
        </p>
    </div>
</div>