@model Afilhado4Patas.Models.ViewModels.ConvocatoriaViewModel

<div id="page">
    <div id="box">
        <img id="icon_centrado" src="~/images/doctor.png" />
        <h4>Convocar Reunião </h4>
        <hr />
        <br />
        <form asp-controller="Responsavel" asp-action="ConvocarReuniaoEspecifica">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Caso existam outros animais em casa mencione a baixo"></span>
                <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                <textarea asp-for="Notas" class="form-control"></textarea>
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="UtilizadorId" class="control-label"></label>
                <input asp-for="UtilizadorId" class="form-control" />
                <span asp-validation-for="UtilizadorId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="AnimalNome" class="control-label"></label>
                <input asp-for="AnimalNome" class="form-control" />
                <span asp-validation-for="AnimalNome" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Pedir Convocatória" class="btn btn-default" />
            </div>
        </form>  
    </div>
</div>