@model Afilhado4Patas.Models.ViewModels.PerfilEditarMoradaViewModel

@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager

<div id="page">
    <div id="box">
        <img id="icon_centrado" src="~/images/map.png" />
        <h4>Editar Morada </h4>
        <hr />
        <form asp-action="PerfilEditarMorada" asp-controller="Responsavel">
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira a sua Morada"></span>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira a sua Cidade apenas contendo letras"></span>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postalcode" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira o seu código postal no seguinte formato XXXX-XXX"></span>
                <input asp-for="Postalcode" class="form-control" />
                <span asp-validation-for="Postalcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Responsavel" asp-action="Perfil" asp-route-id="@UserManager.GetUserName(User)">Voltar ao Perfil</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
