
@{
    ViewData["Title"] = "RegistoCompleto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page">
    <div id="centrado">
        <img id="sucesso" src="~/images/sucesso.png" />
        <p>
            Animal registado com sucesso!
        </p>
    </div>
</div>