/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #eaeaea !important;
    font-family: NimbusSan !important;
}

.required{
    color: indianred
}

.block{
    display: block;
}
footer {
    padding-left: 10px;
}

.centrado{
    text-align:center
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

#seccao_foto {
    height: 100vh;
    width: 100%;
}

#seccao_foto_paginaSobre {
    height: 100vh;
    width: 100%;
    background-image: url('../images/dog.jpg');
    background-size: cover;
}

#seccao_foto_paginaContactos {
    height: 100vh;
    width: 100%;
    background-image: url('../images/suporte.jpg');
    background-size: cover;
}

#seccao_foto_paginaAdotar {
    height: 100vh;
    width: 100%;
    background-image: url('../images/adotar.jpg');
    background-size: cover;
}

#seccao_foto_paginaDoar {
    height: 100vh;
    width: 100%;
    background-color: white;
    background-size: cover;
}

#fotos_inicio {
    height: 100%;
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#navegar {
    padding-top: 50%;
}

#box {
    background: #fff;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

#myCarousel {
    margin-top: 0;
}

#logo {
    position: fixed;
    top: 1%;
    left: 3%;
    height: 11%;
    width: 9%;
    z-index: 100;
}

@font-face {
    font-family: ProstoSansBold;
    src: url('../fonts/prosto sans bold.otf') format('opentype');
}

@font-face {
    font-family: NimbusSan;
    src: url('../fonts/nimbussanl-reg.otf') format('opentype');
}

#seccao {
    left: 10%;
}

#titulos {
    font-family: ProstoSansBold;
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: lightgrey;
    width: 30%;
}

#nav {
    width: 100%;
    height: 7%;
    margin: 0;
    background-color: #000 !important;
    border-color: transparent !important;
    z-index: 99;
}

.menu,
.sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #000;
    height: 100%;
}

.sub-menu {
    background: #444;
    height: auto !important;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 100%;
}

a:hover {
    text-decoration: none !important;
}

li a {
    height: 100%;
}

.menu li {
    position: relative;
    height: 100%
}

.menu > li {
    float: left;
}

    .menu > li:hover {
        background: #444;
    }

.menu li:hover > .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    width: 180px;
}

    .sub-menu li:hover {
        background: #555;
    }

    .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

.float-right {
    float: right;
}

.float-left {
    padding-left: 15%;
    float: left;
}





#ul_nav_items_left {
    height: 100%;
    padding-left: 15%;
}

#ul_nav_items_logout {
    height: 100%;
    width: auto;
}

#ul_nav_submenu {
    display: none;
    position: absolute;
    background: #444;
}

    #ul_nav_submenu:hover {
        display: block;
    }

#logoutForm, #ul_nav_items_login {
    height: 100% !important;
    width: auto !important;
    padding-right: 5% !important;
    margin:0 !important;
    background-color: transparent !important
}

#nome, #fechar_sessao{
    color: #fff !important;
    text-decoration:none !important;
}

    #nome:hover, #fechar_sessao:hover {
        color: #428bca !important;
    }

#container {
    width: 100%;
    height: 100%;
}

#caixa_texto {
    width: 80%;
    margin: 0 auto;
}

#p {
    width: 100%;
    font-family: NimbusSan;
    font-size: 18px;
    font-weight: 200;
    color: indianred;
}

.row {
    padding-left: 10%;
}

#pagina_titulo {
    font-family: ProstoSansBold;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: indianred;
}

#subtitulo1, #subtitulo3 {
    padding-top: 30px;
    font-family: ProstoSansBold;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#subtitulo2 {
    padding-top: 30px;
    font-family: ProstoSansBold;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: indianred;
}

#descritivo {
    padding-top: 10px;
    font-family: ProstoSansBold;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#seccao_sobre {
    padding-top: 15%;
    height: 100%;
    width: 50%;
    float: right;
    text-align: center;
}

#seccao_adotar {
    padding-top: 8%;
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
}

#seccao1 {
    position: relative;
    width: 100%;
    height: 60%;
    background-color: indianred;
}

#seccao2 {
    position: relative;
    width: 100%;
    height: 60%;
    background-color: white;
}

#seccao_doar {
    position: relative;
    width: 100%;
    height: 55%;
    background-color: indianred;
}

#espaco {
    position: relative;
    width: 70%;
    height: 100%;
}

#espaco_doar {
    position: absolute;
    width: 60%;
    height: 50%;
    margin-left: 20%;
    margin-right: 20%;
    bottom: 25%;
}

#icon_paw {
    width: 30%;
    height: 40%;
}

#icons {
    width: 50%;
    height: 40%;
}

#imagem_titulo {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    text-align: center;
    width: 20%;
}

#imagem_doar {
    position: relative;
    text-align: center;
    width: 23%;
    height: 100%;
    display: inline-block;
}

#conteudo {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    width: 55%;
    text-align: left;
    padding-top: 3%;
}

#paragrafo_white {
    font-family: NimbusSan;
    font-size: 18px;
    font-weight: 200;
    color: white;
}

#paragrafo_color {
    font-family: NimbusSan;
    font-size: 18px;
    font-weight: 200;
    color: indianred;
}

#imagem_bottom_right_1 {
    position: absolute;
    right: 5%;
    bottom: 2%;
    width: 20%;
    height: 40%;
}

#imagem_bottom_right_2 {
    position: absolute;
    right: 5%;
    bottom: 2%;
    width: 20%;
    height: 60%;
}

#box_centrada {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#icon_utilizador {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 2px 6px 2px -8px;
    overflow: hidden;
    border: 0;
    background-size: cover;
    background-position: 50% 50%;
}

#navegador {
    height: 100% !important;
    width: 100%;
}

#sucesso {
    height: 80px;
    width: 80px;
    margin-bottom: 25px;
}

#icon_centrado {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#icon_centrado_arredondado {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#icon_miniatura {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 0 !important;
}

#icon_redondo_miniatura {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 0 !important;
    border-radius: 50%
}

#page {
    width: 90%;
    padding-top: 5%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

#login_page, #registo_page {
    width: 90%;
    padding-top: 3%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

#box {
    padding: 2% 5% 2% 5%;
    text-align: left;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 0 5px hsla(0,0%,70%,.5);
}

#centrado {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#perfil {
    width: 90%;
    height: 100%;
    padding-top: 7%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

#perfil_container1 {
    width: 32%;
    height: 90%;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    border-right-width: thin;
    border-right-style: ridge;
    border-right-color: slategrey;
}

#perfil_container2 {
    width: 50%;
    height: 90%;
    margin: 0;
    padding: 0;
    float: left;
}

#perfil_container3 {
    width: 18%;
    height: 90%;
    margin: 0;
    padding: 0;
    float: left;
}

#imagem_perfil {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-size: cover;
}

#animals_space {
    width: 100%;
    height: 30%;
}

#friends_space {
    width: 100%;
    height: 30%;
}

#titulos_perfil {
    margin: 5px 10px 5px 10px;
}

#box_options {
    width: 90%;
    padding-top: 2%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

#user_info_table {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 100%;
}

#info_nome {
    width: 40%;
}

#info_tr {
    margin-bottom: 5%;
}

#info_conteudo {
    width: 60%;
}

#edit_options {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 3%;
    width: 100%;
    height: 5%;
}

#icon {
    height: 100%;
    width: 5%;
}

#options_spans {
    margin-left: 1.5%;
}

#pagina_pesquisa {
    width: 80%;
    padding-top: 3%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
}


#container_left {
    float: left;
    width: 74%;
    box-shadow: 0 0 5px hsla(0,0%,70%,.5);
    background-color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
}

#container_center {
    width: 70%;
    box-shadow: 0 0 5px hsla(0,0%,70%,.5);
    background-color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

#container_right {
    float: right;
    width: 25%;
    box-shadow: 0 0 5px hsla(0,0%,70%,.5);
    background-color: #fff;
}

#filtros {
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
}

#p_filtros {
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: 1rem;
    line-height: 1.4;
    font-size: 18px;
}

#limpar_filtros {
    font-size: 12px;
    color: #e41a15;
    float: right;
    margin-top: 0;
    text-decoration: none;
}

#top_image {
    width: 100%;
    height: 50vh;
    background-image: url('../images/animals.jpg');
    background-size: cover;
    background-position-y: 60%;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 0 1% 5%;
}

#titulo_animais {
    font-family: ProstoSansBold;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: lightgrey;
    position: absolute;
    bottom: 0;
    height: 10%;
    margin-bottom: 2.5%;
}

/* LISTA ANIMAIS */
.animal_item {
    width: 31.3% !important;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
}

.amizade_item {
    width: 100% !important;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
}


.product-grid6, .product-grid6 .product-image6 {
    overflow: hidden
}

.product-grid6 {
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    position: relative;
    transition: all .5s ease 0s
}

    .product-grid6:hover {
        box-shadow: 0 0 10px rgba(0,0,0,.3)
    }

    .product-grid6 .product-image6 {
        display: block
    }

        .product-grid6 .product-image6 img {
            width: 100%;
            height: 200px;
            background-size: cover;
            transition: all .5s ease 0s
        }

    .product-grid6:hover .product-image6 img {
        transform: scale(1.1)
    }

    .product-grid6 .product-content {
        padding: 12px 12px 15px;
        transition: all .5s ease 0s
    }

    .product-grid6:hover .product-content {
        opacity: 0
    }

    .product-grid6 .title {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0 0 10px;
        transition: all .3s ease 0s
    }

        .product-grid6 .title a {
            color: #000
        }

            .product-grid6 .title a:hover {
                color: #2e86de
            }

    .product-grid6 .price {
        font-size: 18px;
        font-weight: 600;
        color: #2e86de
    }

        .product-grid6 .price span {
            color: #999;
            font-size: 15px;
            font-weight: 400;
            text-decoration: line-through;
            margin-left: 7px;
            display: inline-block
        }

    .product-grid6 .social {
        background-color: #fff;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        opacity: 0;
        transform: translateX(-50%);
        position: absolute;
        bottom: -50%;
        left: 50%;
        z-index: 1;
        transition: all .5s ease 0s
    }

    .product-grid6:hover .social {
        opacity: 1;
        bottom: 20px
    }

    .product-grid6 .social li {
        display: inline-block
    }

        .product-grid6 .social li a {
            color: #909090;
            font-size: 16px;
            line-height: 45px;
            text-align: center;
            height: 45px;
            width: 45px;
            margin: 0 7px;
            border: 1px solid #909090;
            border-radius: 50px;
            display: block;
            position: relative;
            transition: all .3s ease-in-out
        }

            .product-grid6 .social li a:hover {
                color: #fff;
                background-color: #2e86de;
                width: 80px
            }

            .product-grid6 .social li a:after, .product-grid6 .social li a:before {
                content: attr(data-tip);
                color: #fff;
                background-color: #2e86de;
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 20px;
                padding: 1px 5px;
                border-radius: 5px;
                white-space: nowrap;
                opacity: 0;
                transform: translateX(-50%);
                position: absolute;
                left: 50%;
                top: -30px
            }

            .product-grid6 .social li a:after {
                content: '';
                height: 15px;
                width: 15px;
                border-radius: 0;
                transform: translateX(-50%) rotate(45deg);
                top: -20px;
                z-index: -1
            }

            .product-grid6 .social li a:hover:after, .product-grid6 .social li a:hover:before {
                opacity: 1
            }

    .product-grid6 .product-discount-label {
        display: block;
        padding: 4px 15px 4px 30px;
        color: #fff;
        position: absolute;
        top: 10px;
        right: 0;
        clip-path: polygon(34% 0,100% 0,100% 100%,0 100%)
    }


@media only screen and (max-width:990px) {
    .product-grid6 {
        margin-bottom: 30px
    }
}

#container {
    width: 100% !important;
    display: flex;
    margin-bottom: 3%;
}

#row {
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 !important;
    display: flex;
}

.hand{
    cursor: pointer
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

.efeito {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 0px;
    width: 150px;
    border-radius: 6px;
    overflow: hidden;
}

    .efeito.efeito_botao {
        transition: all 0.2s linear 0s;
    }

        .efeito.efeito_botao:before {
            content: "\f061";
            font-family: 'Font Awesome\ 5 Free';
            font-size: 15px;
            font-weight: 900;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;
            opacity: 0;
            height: 100%;
            width: 40px;
            transition: all 0.2s linear 0s;
        }

        .efeito.efeito_botao:hover {
            text-indent: -20px;
        }

            .efeito.efeito_botao:hover:before {
                opacity: 1;
                text-indent: 0px;
            }

#button_red {
    border-radius: 6px;
    background-color: indianred;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    text-decoration: none;
    font-family: NimbusSan;
    font-size: 18px;
    font-weight: 200;
    color: white;
}

#button_white {
    border-radius: 6px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    text-decoration: none;
    font-family: NimbusSan;
    font-size: 18px;
    font-weight: 200;
    color: indianred;
}

.voltar{
    margin-left:20px;
    margin-top: -40px;
}

#voltar {
    padding: 10px 10px 10px 0;
    text-decoration: none;
    font-family: NimbusSan;
    font-size: 18px;
    font-weight: 200;
    color: #0081c2;
}

.efeito.efeito_botao_back {
    transition: all 0.2s linear 0s;
}

    .efeito.efeito_botao_back:before {
        content: "\f060";
        font-family: 'Font Awesome\ 5 Free';
        font-size: 15px;
        font-weight: 900;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        opacity: 0;
        height: 100%;
        width: 40px;
        transition: all 0.2s linear 0s;
        margin-left: 10px;
    }

    .efeito.efeito_botao_back:hover {
        text-indent: +10px;
    }

        .efeito.efeito_botao_back:hover:before {
            opacity: 1;
            text-indent: 0px;
        }

/* Date Picker Datas*/

.Highlighted {
    background-color: #b2d8b2 !important;
    background-image: none !important;
    color: white !important;
}

.active.day {
    background-color: #0081c2 !important;
    background-image: none !important;
    color: white !important;
}

#icon_mini{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

/* SEARCH BAR */

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #CD5C5C;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF
}

    .searchTerm:focus {
        color: #CD5C5C;
    }

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #CD5C5C;
    background: #CD5C5C;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    height: 50px;
    margin-left: auto;
    margin-right: auto
}

.blue_icon {
    font-size: 18px !important;
    color: #0081c2 !important;
    margin-right: 10px
}

.green_icon {
    font-size: 18px !important;
    color: #628833 !important;
    margin-right: 10px
}

.red_icon {
    font-size: 18px !important;
    color: indianred !important;
    margin-right: 10px
}

.grey_icon {
    font-size: 22px !important;
    color: lightgrey !important;
    margin-right: 10px;
    margin-bottom: 5px;
}

#min{
    height: 30px;
    width: 30px
}

#links_animal{
    text-decoration: none;
    color: #fff;
}

    #links_animal:hover {
        color: darkgreen
    }

.rounded{
    border-radius: 50%
}