@using Afilhado4Patas.Models.ViewModels
@model EmailViewModel

@{
    ViewData["EmailTitle"] = "Conta Terminada!";
}

<p>
    Caro @Model.Nome,
</p>
<p>
    A sua conta foi terminada, se tiver alguma duvida sobre os motivos que levaram a esta decisão contacte a nossa equipa de suporte.
</p>
<br />
<p>
    Equipa de Suporte Afilhados4Patas
</p>
