@using Afilhado4Patas.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context

@model List<Afilhado4Patas.Models.Animal>

@{
    ViewData["Title"] = "MeusAnimais";
}

<div id="page">
    <h2>MeusAnimais</h2>
    @{
        @Html.Partial("GridAnimais", Model)
    }
</div>

