@using Afilhado4Patas.Data;
@model Afilhado4Patas.Models.ViewModels.PedidoAdocaoViewModel;

@inject ApplicationDbContext Context

<div id="page">
    <div id="box">
        <img id="icon_centrado" src="~/images/adocao.png" />
        <h2>Pedido de Adocão</h2>
        <hr />
        <form asp-controller="Utilizador" asp-action="PedidoAdocaoEspecifico" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Tipo de Adoção</p>
            <div class="form-group">
                <label asp-for="TipoAdocao" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o tipo de adoção que pretende
Adoção Total: Adote um animal a tempo inteiro e leve-o para casa
Apadrinhamento: Adote um animal a tempo parcial, podendo levá-lo durante fins-de-semanas e também para passeios"></span>
                <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                <div>
                    <span>
                        <input asp-for="TipoAdocao" type="radio" value="Total" />
                        Adoção Total
                    </span>
                    <span>
                        <input asp-for="TipoAdocao" type="radio" value="Parcial" />
                        Apadrinhamento
                    </span>
                </div>
                <span asp-validation-for="TipoAdocao" class="text-danger"></span>
            </div>
            <br />
            <p>Preencha os campos referentes ás suas informações</p>
            <div class="form-group">
                <label asp-for="NomeAdotante" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Nome do Adotante"></span>
                <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                <input asp-for="NomeAdotante" class="form-control" disabled />
                <span asp-validation-for="NomeAdotante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Morada" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o tipo de habitação onde vive"></span>
                <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                <div>
                    <span class="block">
                        <input asp-for="Morada" type="radio" value="Apartamento" />
                        Apartamento
                    </span>
                    <span class="block">
                        <input asp-for="Morada" type="radio" value="Moradia" />
                        Moradia
                    </span>
                    <span class="block">
                        <input asp-for="Morada" type="radio" value="Quinta/Herdade" />
                        Quinta/Herdade
                    </span>
                    <span class="block">
                        <input asp-for="Morada" type="radio" value="Outro" />
                        Outro tipo de habitação
                    </span>
                </div>
                <span asp-validation-for="Morada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira um email para contacto com o seguinte formato ex: exemplo@exemplo.com"></span>
                <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailSecundario" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira um email secundario por meio de segurança"></span>
                <input asp-for="EmailSecundario" class="form-control" />
                <span asp-validation-for="EmailSecundario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira um telemovel para contacto com o seguinte formato ex: 917548698"></span>
                <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneSecundario" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira um telemovel secundario por meio de segurança"></span>
                <input asp-for="TelefoneSecundario" class="form-control" />
                <span asp-validation-for="TelefoneSecundario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira a sua foto de perfil.
Deverá ter o formato JPG, JPEG, PNG ou PDF"></span>
                <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                <input type="file" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <br />
            <p>Animal a Adotar</p>
            <br />
            @{
                Animal animal = Context.Animais.Where(a => a.Id == Model.AnimalId).FirstOrDefault();
                animal.PorteAnimal = Context.Portes.Where(p => p.Id == animal.PorteId).FirstOrDefault();
                animal.RacaAnimal = Context.Racas.Where(r => r.Id == animal.RacaId).FirstOrDefault();
                animal.RacaAnimal.CategoriaRaca = Context.Categorias.Where(c => c.Id == animal.RacaAnimal.CategoriaId).FirstOrDefault();
                @Html.Partial("~/Views/Utilizador/PedidoAdocaoAnimalInfo.cshtml", animal);
            }
            <div class="form-group" style="display:none">
                <label asp-for="AnimalId" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o animal a adotar"></span>
                <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                <input asp-for="AnimalId" class="form-control"/>
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>
            <br />
            <p>Responda ás seguintes questões referentes á adoção</p>
            <div class="form-group">
                <label asp-for="Motivacao" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira a baixo a motivação porque quer adotar um animal"></span>
                <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                <textarea asp-for="Motivacao" class="form-control"></textarea>
                <span asp-validation-for="Motivacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutrosAnimais" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Caso existam outros animais em casa mencione a baixo"></span>
                <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                <textarea asp-for="OutrosAnimais" class="form-control"></textarea>
                <span asp-validation-for="OutrosAnimais" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Registar Pedido de Adoção" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>