@model string


@{
    ViewData["Title"] = "PedidoRegistado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page">
    <div id="centrado">
        <img id="sucesso" src="~/images/sucesso.png" />
        <p>
            @Model
        </p>
        <p>
            Irá ser contactado assim que exister alguma atualização ao seu pedido.
        </p>
        <p>
            Obrigado! Equipa Afilhado4Patas
        </p>
    </div>
</div>