@using Afilhado4Patas.Data;
@model Afilhado4Patas.Models.ViewModels.PedidoAdocaoViewModel;

@inject ApplicationDbContext Context

<script type="text/javascript">
    $(document).ready(function () {
        $('#PorteID').html("<option value='undefined'>Escolha primeiro uma Categoria e um Sexo</option>");
        $('#PorteID').prop('disabled', true);
        $('#RacaID').html("<option value='undefined'>Escolha primeiro um Porte</option>");
        $('#RacaID').prop('disabled', true);
        var urlCategorias = '@Url.Content("~/")' + "Utilizador/Categorias";
        $.getJSON(urlCategorias, function (data) {
            var items = "<option value='undefined' selected>Escolha uma Categoria</option>";
            $('#CategoriaID').empty();
            $.each(data, function (i, categoria) {
                items += "<option value='" + categoria.value + "'>" + categoria.text + "</option>";
            });
            $('#CategoriaID').html(items);
        });
        var urlAnimais = '@Url.Content("~/")' + "Utilizador/TodosAnimais";
        $.getJSON(urlAnimais, function (data) {
            var items = "<option value='undefined' selected>Escolha um Animal</option>";
            $('#demo-htmlselect').empty();
            $.each(data, function (i, animal) {
                items += "<option value='" + animal.value +
                    "' data-imagesrc='/Animais/" + animal.value + "/" + animal.Foto + "' data-description='Description with Foursquare'>"
                    + animal.text + "</option>";                
            });
            $('#demo-htmlselect').html(items);
        });
        
    });

    function showAnimals() {

    }

    function sexoClick(sexo) {
        $('#CategoriaID').change(function () {
            var url = '@Url.Content("~/")' + "Funcionario/Categorias";
            var id = '#CategoriaID';
            $.getJSON(url, { CategoriaID: $(id).val() }, function (data) {
                var items = '';
                $('#RacaId').empty();
                $.each(data, function (i, raca) {
                    items += "<option value='" + raca.value + "'>" + raca.text + "</option>";
                });
                $('#RacaId').html(items);
            });
        });
    }

</script>

<div id="page">
    <div id="box">
        <h2>Pedido de Adocão</h2>
        <hr />
        <form asp-controller="Responsavel" asp-action="RegistoAnimal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <p>Tipo de Adoção</p>
            <div class="form-group">
                <label asp-for="TipoAdocao" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o tipo de adoção que pretende
Adoção Total: Adote um animal a tempo inteiro e leve-o para casa
Apadrinhamento: Adote um animal a tempo parcial, podendo levá-lo durante fins-de-semanas e também para passeios"></span>
                <div>
                    <span>
                        <input asp-for="TipoAdocao" type="radio" value="Total" />
                        Adoção Total
                    </span>
                    <span>
                        <input asp-for="TipoAdocao" type="radio" value="Parcial" />
                        Apadrinhamento
                    </span>
                </div>
                <span asp-validation-for="TipoAdocao" class="text-danger"></span>
            </div>
            <br />
            <p>Preencha os campos referentes ás suas informações</p>
            <div class="form-group">
                <label asp-for="NomeAdotante" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Nome do Adotante"></span>
                <input asp-for="NomeAdotante" class="form-control" disabled />
                <span asp-validation-for="NomeAdotante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Morada" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o tipo de habitação onde vive"></span>
                <div>
                    <span class="block">
                        <input asp-for="Morada" type="radio" value="Apartamento" />
                        Apartamento
                    </span>
                    <span class="block">
                        <input asp-for="Morada" type="radio" value="Moradia" />
                        Moradia
                    </span>
                    <span class="block">
                        <input asp-for="Morada" type="radio" value="Quinta/Herdade" />
                        Quinta/Herdade
                    </span>
                    <span class="block">
                        <input asp-for="Morada" type="radio" value="Outro" />
                        Outro tipo de habitação
                    </span>
                </div>
                <span asp-validation-for="Morada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira um email para contacto com o seguinte formato ex: exemplo@exemplo.com"></span>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailSecundario" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira um email secundario por meio de segurança"></span>
                <input asp-for="EmailSecundario" class="form-control" />
                <span asp-validation-for="EmailSecundario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira um telemovel para contacto com o seguinte formato ex: 917548698"></span>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneSecundario" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira um telemovel secundario por meio de segurança"></span>
                <input asp-for="TelefoneSecundario" class="form-control" />
                <span asp-validation-for="TelefoneSecundario" class="text-danger"></span>
            </div>
            <br />
            <p>Preencha os campos referentes ao animal a adotar</p>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione a Especie do animal"></span>
                <select id="CategoriaID" name="CategoriaID" asp-for="Categoria" class="form-control"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o sexo do Animal"></span>
                <div>
                    <span>
                        <input asp-for="Sexo" type="radio" value="Macho" />
                        Macho
                    </span>
                    <span>
                        <input asp-for="Sexo" type="radio" value="Femea" />
                        Femea
                    </span>
                </div>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porte" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o porte do animal"></span>
                <select id="PorteID" name="PorteID" asp-for="Porte" class="form-control" disabled></select>
                <span asp-validation-for="Porte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raca" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione a Raça do animal"></span>
                <select id="RacaID" name="RacaID" asp-for="Raca" class="form-control" disabled></select>
                <span asp-validation-for="Raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o animal a adotar"></span>
                <select id="demo-htmlselect" name="AnimalID" asp-for="Animal" class="form-control"></select>
                <span asp-validation-for="Animal" class="text-danger"></span>
            </div>
            <br />
            <p>Responda ás seguintes questões referentes á adoção</p>
            <div class="form-group">
                <label asp-for="Motivacao" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira a baixo a motivação porque quer adotar um animal"></span>
                <textarea asp-for="Motivacao" class="form-control"></textarea>
                <span asp-validation-for="Motivacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutrosAnimais" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Caso existam outros animais em casa mencione a baixo"></span>
                <textarea asp-for="OutrosAnimais" class="form-control"></textarea>
                <span asp-validation-for="OutrosAnimais" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Registar Pedido de Adoção" class="btn btn-default" />
            </div>

            <div class="dd-select" style="width: 260px; background: rgb(238, 238, 238);">
                <input class="dd-selected-value" type="hidden" value="FB">
                <a class="dd-selected">
                    <img class="dd-selected-image" src="http://i.imgur.com/XkuTj3B.png">
                    <label class="dd-selected-text">Facebook</label>
                    <small class="dd-selected-description dd-desc dd-selected-description-truncated">Description with Facebook</small>
                </a><span class="dd-pointer dd-pointer-down"></span>
            </div>
            <ul class="dd-options dd-click-off-close" style="width: 260px; display: none;"><li><a class="dd-option dd-option-selected"> <input class="dd-option-value" type="hidden" value="FB"> <img class="dd-option-image" src="http://i.imgur.com/XkuTj3B.png"> <label class="dd-option-text">Facebook</label> <small class="dd-option-description dd-desc">Description with Facebook</small></a></li><li><a class="dd-option"> <input class="dd-option-value" type="hidden" value="TWT"> <img class="dd-option-image" src="http://i.imgur.com/8ScLNnk.png"> <label class="dd-option-text">Twitter</label> <small class="dd-option-description dd-desc">Description with Twitter</small></a></li><li><a class="dd-option"> <input class="dd-option-value" type="hidden" value="LI"> <img class="dd-option-image" src="http://i.imgur.com/aDNdibj.png"> <label class="dd-option-text">LinkedIn</label> <small class="dd-option-description dd-desc">Description with LinkedIn</small></a></li><li><a class="dd-option"> <input class="dd-option-value" type="hidden" value="FSQ"> <img class="dd-option-image" src="http://i.imgur.com/kFAk2DX.png"> <label class="dd-option-text">Foursquare</label> <small class="dd-option-description dd-desc">Description with Foursquare</small></a></li></ul>
        </form>
    </div>
</div>
