@model Afilhado4Patas.Models.ViewModels.AmizadePedidoViewModel


<form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="id" />
    <input type="hidden" asp-for="idAnimalComum" />
    <input type="hidden" asp-for="idPerfilPediuAmizade" />
    <div class="amizade_item">
        <div class="product-grid6">
            <div class="product-image6">
                @{
                    if (Model.PerfilPediuAmizade.Photo != null)
                    {
                        string src = "/Utilizadores/" + Model.PerfilPediuAmizade.Utilizador.Id + "/" + Model.PerfilPediuAmizade.Photo;
                        <img class="pic-1" src="@src" />
                    }
                    else
                    {
                        <img class="pic-1" src="~/images/default.jpg" />
                    }
                }
            </div>
            <div class="product-content">
                <h3 class="title">@Model.PerfilPediuAmizade.FirstName</h3>
                <div>
                    @*@adocao.Pedido.Animal.Peso Kg
                        <span>@adocao.Pedido.Animal.PorteAnimal.TipoPorte</span>
                        @adocao.Pedido.Animal.Sexo
                            METER ANIMAIS EM COMUM
                    *@
                </div>
            </div>
            <ul class="social">
                <li>
                    <input type="submit" value="Aceitar" class="btn btn-default" formaction="/Utilizador/pedidosAmizadeAceitar" formmethod="post" />
                    <input type="submit" value="Recusar" class="btn btn-default" formaction="/Utilizador/pedidosAmizadeRecusar" formmethod="post" />
                </li>

            </ul>
        </div>
    </div>
</form>   
