@model Afilhado4Patas.Models.ViewModels.PedidoPasseioViewModel;
@{
    ViewData["Title"] = "PedidosPasseios";
}

<link href="~/css/FormularioCSS/formularios.css" rel="stylesheet" />

<div id="registo_page">
    <form id="login" asp-controller="Utilizador" asp-action="PedidoPasseio">
        <h1>Pedido Passeio <img id="icon_miniatura" src="~/images/passeio.png" /></h1>
        <div class="contentform">
            <div class="centercontact">
                <div class="form-group">
                    <div>
                        <label asp-for="DataPasseio"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira a data pretendida para o passeio.
 Qualquer passeio apenas poderá ser marcado com 3 dias de antecedência"></span>
                    </div>
                    <div class="input-group date" id="datepicker_marcacaoPasseio">
                        <span class="input-group-addon icon-case hand">
                            <i class="fa fa-calendar-alt"></i>
                        </span>
                        <input asp-for="DataPasseio" type="text" value="" class="form-control" />
                    </div>
                    <span asp-validation-for="DataPasseio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="HoraPasseio"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira a hora pretendida para o passeio."></span>
                    </div>
                    <div class="input-group clock clockpicker_marcacaoPasseio">
                        <span class="input-group-addon icon-case hand">
                            <i class="fa fa-clock"></i>
                        </span>
                        <input asp-for="HoraPasseio" type="text" class="form-control" />
                    </div>
                    <span asp-validation-for="HoraPasseio" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none">
                    <label asp-for="AnimalId" class="control-label"></label>
                    <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                          title="Selecione o animal a adotar"></span>
                    <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                    <input asp-for="AnimalId" class="form-control" />
                    <span asp-validation-for="AnimalId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="bouton-contact">Realizar Pedido</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#datepicker_marcacaoPasseio').datepicker({
            format: "dd/MM/yyyy",
            startDate: '+3d',
            autoclose: true,
            todayHighlight: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            orientation: "bottom left",
            weekStart: 1
        });
        $('.clockpicker_marcacaoPasseio').clockpicker({
            autoclose: true,
            orientation: "bottom left"
        });
    });
</script>