@model Afilhado4Patas.Models.ViewModels.PerfilEditarPalavraPasseViewModel

@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context

<link href="~/css/FormularioCSS/formularios.css" rel="stylesheet" />

<div id="registo_page">
    <form id="login" asp-action="PerfilEditarPalavraPasse" asp-controller="Utilizador">        
        <h1>Editar Palavra-Passe <img id="icon_miniatura" src="~/images/forgot_password.png" /></h1>
        <div class="contentform">
            <div class="centercontact">
                <div class="form-group">
                    <div>
                        <label asp-for="OldPassword"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira a sua palavra-passe antiga"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-key"></i></span>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="NewPassword"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Inserir uma nova palavra-passe válida
A password deverá conter pelo menos um caracter dos seguintes e ter um comprimento minimo de 8 caracteres:
Letras: Aa-Zz
Numeros: 0-9"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-key"></i></span>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="ConfirmNewPassword"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Confirme a sua nova palavra-passe"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-key"></i></span>
                    <input asp-for="ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="bouton-contact">Alterar Palavra-Passe</button>
    </form>
</div>

<div>
    <a asp-controller="Utilizador" asp-action="Dashboard" asp-route-id="@UserManager.GetUserName(User)">Voltar ao Perfil</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

