@model Afilhado4Patas.Models.ViewModels.PerfilEditarDadosPessoaisViewModel

@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@{
    ViewData["Title"] = "Editar Perfil";
}

<link href="~/css/FormularioCSS/formularios.css" rel="stylesheet" />

<div id="registo_page">
    <form id="login" asp-action="PerfilEditarDadosPessoais" asp-controller="Utilizador">
        <h1>Editar Dados Pessoais <img id="icon_miniatura" src="~/images/edit.png" /></h1>
        <div class="contentform">
            <div class="centercontact">
                <div class="form-group">
                    <div>
                        <label asp-for="FirstName" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira o seu Nome"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-user"></i></span>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="LastName" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira o(s) seu(s) Apelido(s)"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-user"></i></span>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="NIF" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira o seu Numero de Identificação Fiscal no seguinte formato XXXXXXXXX"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-sort-numeric-up"></i></span>
                    <input asp-for="NIF" class="form-control" />
                    <span asp-validation-for="NIF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Birthday"></label>
                        <span>*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Inserir data de nascimento no formato DD-MM-AAAA
Deverá ainda ter uma idade maior de 18 anos."></span>
                    </div>
                    <div class="input-group date" id="datepicker_registo">
                        <span class="input-group-addon icon-case hand">
                            <i class="fa fa-calendar-alt"></i>
                        </span>
                        <input asp-for="Birthday" type="text" class="form-control" />
                    </div>
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="bouton-contact">Alterar Dados</button>
    </form>
</div>

<div class="voltar">
    <a class="efeito efeito_botao_back" id="voltar" asp-controller="Utilizador" asp-action="Dashboard" asp-route-id="@UserManager.GetUserName(User)">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt.min.js"></script>
<script>
    $('#datepicker_registo').datepicker({
        format: "dd/MM/yyyy",
        startDate: new Date(1900, 1, 1),
        endDate: '+1d',
        datesDisabled: '+1d',
        todayHighlight: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        autoclose: true,
        orientation: "top left",
        weekStart: 1
    });
</script>
