@model Afilhado4Patas.Models.ViewModels.ImagemUploadViewModel

@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context
@{
    ViewData["Title"] = "Editar Perfil";
}

<link href="~/css/FileInput/fileInput.css" rel="stylesheet" />
<link href="~/css/FormularioCSS/formularios.css" rel="stylesheet" />

<div id="registo_page">
    <form id="login" method="post" asp-action="PerfilEditarFotoPerfil" asp-controller="Utilizador" enctype="multipart/form-data">        
        <h1>Editar Foto de Perfil</h1>
        <div class="contentform">
            <div class="centercontact">
                @{Utilizadores user = Context.Utilizadores.Where(u => u.Email == UserManager.GetUserName(User)).FirstOrDefault();
                    Perfil perfil = Context.PerfilTable.Where(p => p.Id == user.PerfilId).FirstOrDefault();
                    if (perfil.Photo != null)
                    {
                        string src = "/Utilizadores/" + user.Id + "/" + perfil.Photo;
                        <img id="icon_centrado_arredondado" src="@src" />
                    }
                    else
                    {
                        <img id="icon_centrado_arredondado" src="~/images/default.jpg" />
                    }
                }
                <div class="form-group">
                    <div>
                        <label asp-for="File" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira a sua foto de perfil.
Deverá ter o formato JPG, JPEG, PNG."></span>
                    </div>
                    <div class="input-container">
                        <input type="file" id="real-input" asp-for="File">
                        <button class="browse-btn" type="button">
                            Escolher Ficheiro
                        </button>
                        <span class="file-info">Nenhum ficheiro inserido</span>
                    </div>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="bouton-contact">Alterar Dados</button>
    </form>
</div>

<div>
    <a asp-controller="Utilizador" asp-action="Dashboard" asp-route-id="@UserManager.GetUserName(User)">Voltar ao Perfil</a>
</div>

<script>
    $('.browse-btn').bind('click', function () {
        $('#real-input').trigger('click');
    });

    $('#real-input').on('change', function () {
        var name = $('#real-input').val().split(/\\|\//).pop();
        var truncated = name.length > 20
            ? name.substr(name.length - 20)
            : name;

        $('.file-info').text(truncated);
    });
</script>

