.input-container {
    max-width: 350px;
    background-color: #EDEDED;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}

input[type='file'] {
    display: none;
}

.file-info {
    font-size: 0.9em;
    color: black !important;
}

.browse-btn {
    background: #0081c2;
    color: #fff;
    min-height: 35px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

    .browse-btn:hover {
        background: #0081c2;
        color: #e5f2f8
    }

@media (max-width: 300px) {
    button {
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }

    .file-info {
        display: block;
        margin: 10px 5px;
    }
}
