@{
    ViewData["Title"] = "About";
}
<br />
<br />
<br />
<section id="box">
    <img src="~/images/paw-in-hand.png" height="200" width="300" />
    <br />
    <h1>- A Nossa Missão -</h1>
    <p>Ajudar e Salvar o maior número de animais</p>
    <h2>Sobre</h2>
    <div id="caixa_texto">
        <p id="p">
            Pretendemos com a nossa plataforam reunir pessoas com animais, facilitando o processo tanto de adoções como aparinhamentos e dar assim uma vida melhor aos animais que 
            passam por nós.
        </p>
    </div>
    
</section>
