@{
    ViewData["Title"] = "About";
}
<br />
<br />
<br />
<section id="box">
    <img src="~/images/paw-in-hand.png" height="200" width="300" />
    <br />
    <h1>- A Nossa Missão -</h1>
    <p>Ajudar e Salvar o maior número de animais</p>
    <h2>Sobre</h2>
    <p id="p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p id="p">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p id="p">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <p id="p">
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</section>
