@{
    ViewData["Title"] = "Contact";
}

<br />
<br />
<br />
<section id="box">
    <h1>- Contactos -</h1>
    <address>
        <strong>Support:</strong> <a href="mailto:afilhados4patas@gmail.com">afilhados4patas@gmail.com</a><br />
    </address>
</section>
