<br />
<br />
<br />
<br />
<h2>Registo Completo</h2>
<div class="row">
    <p>
        Registo feito com sucesso! 
    </p>
    <p>
        Para terminar o processo de registo dirija-se ao seu e-mail onde irá receber um e-mail para confirmar a sua conta.
    </p>
</div>
