<div id="seccao_foto_paginaSobre" class="item active">
    <div id="seccao_sobre">
        <h1 id="pagina_titulo">- A Nossa Missão -</h1>
        <p id="p">Ajudar e Salvar o maior numero de animais</p>
        <br />
        <br />
        <div id="caixa_texto">
            <p id="p">
                Pretendemos com a nossa plataforma reunir pessoas com animais, facilitando o processo tanto de adoções como aparinhamentos e dar assim uma vida melhor aos animais que
                passam por nós.
            </p>
        </div>
    </div>
</div>
