<div id="seccao_foto_paginaAdotar" class="item active">
    <div id="seccao_adotar">
        <h1 id="pagina_titulo"> Adote Connosco </h1>
        <div id="caixa_texto">
            <p id="p">
                Conheça a baixo os nossos métodos de adoções e também apadrinhamento aos nossos animais
            </p>
        </div>
    </div>
</div>
<div id="seccao1">
    <div id="espaco">
        <div id="imagem_titulo">
            <img id="icon_paw" src="~/images/paw white.png" />
            <p id="subtitulo1">Adoção a Tempo Inteiro</p>
        </div>
        <div id="conteudo">
            <p id="paragrafo_white">
                Ganhe um novo membro para a sua familia. Vai poder levá-lo para o seu lar, receber o amor que ele tem
                para lhe dar, mas também ser responsável pelo seu sustento e bem estar.
            </p>
        </div>
    </div>
    <img id="imagem_bottom_right_1" src="~/images/foto1.png" />
</div>
<div id="seccao2">
    <div id="espaco">
        <div id="imagem_titulo">
            <img id="icon_paw" src="~/images/paw color.png" />
            <p id="subtitulo2">Adoção Parcial / Apadrinhamento</p>
        </div>
        <div id="conteudo">
            <p id="paragrafo_color">
                Se não pode tê-lo consigo em casa <b>Apadrinhe-o</b>. Poderá visitá-lo, levá-lo consigo em dias
                determinados e porporcionar-lhe outras regalias que combine com a Associação onde ele está.
            </p>
            <p id="paragrafo_color">
                E a grande oportunidade é poder tomar conta do seu animal favorito em certos dias, mesmo não podendo
                tê-lo sempre consigo e desta maneira disfrutar do amor dele e ele do seu.
            </p>
        </div>
    </div>
    <img id="imagem_bottom_right_2" src="~/images/foto2.png" />
</div>