<div id="seccao_foto_paginaDoar" class="item active">
    <div id="seccao_adotar">
        <h1 id="pagina_titulo"> Faça a sua Doação </h1>
        <div id="caixa_texto">
            <p id="p">
                Conheça a baixo os métodos de doações e também voluntariado 
            </p>
        </div>
    </div>
</div>
<div id="seccao_doar">
    <div id="espaco_doar">
        <div id="imagem_doar">
                <img id="icons" src="~/images/dinheiro.png" />
                <p id="descritivo">Dinheiro</p>
        </div>
        <div id="imagem_doar">
                <img id="icons" src="~/images/dog-food-bowl.png" />
                <p id="descritivo">Comida e Mantimentos</p>
        </div>
        <div id="imagem_doar">
                <img id="icons" src="~/images/bandage.png" />
                <p id="descritivo">Primeiros Socorros Básicos</p>
        </div>
        <div id="imagem_doar">
                <img id="icons" src="~/images/voluntariado.png" />
                <p id="descritivo">Voluntariado</p>
        </div>
    </div>
</div>
