
@{
    ViewData["Title"] = "RealizarLogin";
}

<div id="page">
    <div id="centrado">
        <img id="sucesso" src="~/images/login.png" />
        <p>
            Para fazer uma adoção deverá estar autenticado!
        </p>
        <p>
            Clique <a asp-area="Identity" asp-page="/Account/Login">aqui</a> para ser redirecionado para a página de autenticação.
        </p>
    </div>
</div>

