<div id="page">
    <div id="centrado">
        <img id="sucesso" src="~/images/sucesso.png" />
        <p>
            Registo feito com sucesso!
        </p>
        <p>
            Para terminar o processo de registo dirija-se ao seu e-mail onde irá receber um e-mail para confirmar a sua conta.
        </p>
    </div>    
</div>
